*{
    padding:none;
    margin:none;
}

body {
    
    background-image: url(https://i.imgur.com/MFdyfxu.jpg);
    background-size:250px;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y:-3%;
}

h1 {
    margin:30px;
    text-align:center;
    font-family: 'Barrio', cursive;
}

.flex-container {
    display:flex;
    border:.5px solid #444;
    width:80%;
    margin:auto;
}

.pixel {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=59314);
    width: 1.5%;
    height: 10px;
    border: .1px solid #eee;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=53662), default;
}

.filled {
    background-color: blue;
}